body{
	text-align:center;
	font-family:Open Sans,sans-serif;
	background-color:#E1C7AD;
	color:#ffffff;
	margin:0px 0px 30px 0px;
}

h1{
	color:#bc6815;
	font-size:60px;
	font-weight: 300;
}

h2{
	font-family: century-gothic, sans-serif;
	color:#273F5B;
	font-size:40px;
}

h3{
	color: #bc6815;
	font-style: italic;
	font-size:22px;
}

h4{
	color: #273F5B;
}

p{
	color: #4e6172;
	font-size:20px;
	line-height: 1.5;
	
}

.titulo-laranja{
	color:#A86F44;
	
}

.titulo-vermelho{
	color:#C24229;
}

.titulo-amarelo{
	color:#a57219;
}

section{
	width:60%;
	margin:0 auto;
}

section section{
	width: 100%;
}

img{
	width:100%;
}

ul{
	list-style-type: none;
	line-height: 2;
	padding-left: 0;
}

a{
	text-decoration: none;
	color:#D4853D;
	font-weight: 700;
}

.principal{
	background-color: #C06C50;
	height: 40px;
	max-width: 60%;
	margin: 0 auto;
}

.principal a{
	color:#fff;
	text-decoration: underline;
	font-weight: normal;	
}

.principal li{
	display: inline-block;
	margin: 0 89px;
	line-height: 2.5;
}

form{
	color: #273F5B;
}

button{
	background-color:  #4e6172;
	border: solid 1px transparent;
	padding: 2px 20px;
	border-radius: 3px;
}